@use '../../../styles/variables.scss' as *;

.image_holder {
  height: 11rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  border-radius: 0.5rem;

  img {
    width: 100%;
    border-radius: 0.5rem;
  }
}

.card_holder {
  position: relative;
  padding: 0.5rem;
  background: $gray-color;
  border-radius: 0.5rem;
  border: $light-gray-color solid 2px;

  &:hover {
    border: $accent-color solid 1px;
    cursor: pointer;
  }
}

.disabled_card {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;

  &:hover {
    border: $light-gray-color solid 2px;
    cursor: not-allowed;
  }
}

.selected {
  border: $accent-color solid 2px;

  &:hover {
    border: $accent-color solid 2px;
  }
}

.text_holder {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h3,
  p {
    text-align: left;
  }
}

.floating_text {
  height: 2rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  background: $accent-color;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border-radius: 0.5rem;
}

.warning_holder {
  height: 2rem;
  position: absolute;
  top: 8rem;
  left: 1rem;
  padding: 5px;
  gap: 0.25rem;

  div {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: $base-color;
    border-radius: 0.5rem;
  }

  p {
    font-size: 0.6rem;
    margin: 0.25rem;
  }
}

.arrow::after {
  content: '→';
  margin-left: 0.5rem;
}

.select_button {
  width: 100%;
}

.not_selected_button {
  background-color: $light-gray-color !important;
}